%h1 Deposits
%p
  = link_to 'Sync Deposits', '/sync', class: 'btn btn-warning'
%table.table.table-striped#deposits
  %thead
    %tr
      %th Title
      %th Creators
      %th Creation date
      %th License
      %th Rights Holder
      %th Abstract

      %th{:colspan => '3'}
  %tbody
    - @deposits.each do |deposit|
      %tr
        %td= deposit.title
        %td= deposit.creator.map{|str| str}.join(',')
        %td= deposit.created.to_datetime
        %td= deposit.license
        %td= deposit.rights_holder
        %td= deposit.abstract

        %td= link_to 'Show', deposit
        %td= link_to 'Edit', edit_deposit_path(deposit)
        %td= link_to 'Destroy', deposit, method: :delete, data: { confirm: 'Are you sure?' }

:javascript
  $(function() {
    $('.deposits').DataTable({
      // ajax: ...,
      // autoWidth: false,
      // pagingType: 'full_numbers',
      // processing: true,
      // serverSide: true,
      // Optional, if you want full pagination controls.
      // Check dataTables documentation to learn more about available options.
      // http://datatables.net/reference/option/pagingType
    });
  })
-#Status API Training Shop Blog About

-# :onclick => submit_deposit_path,