<p id="notice"><%= notice %></p>

<h1>Listing Deposits</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Title</th>
      <th>Author</th>
      <th>Creation date</th>
      <th>Project url</th>
      <th>Status</th>
      <th>State</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @deposits.each do |deposit| %>
      <tr>
        <td><%= deposit.email %></td>
        <td><%= deposit.title %></td>
        <td><%= deposit.author %></td>
        <td><%= deposit.creation_date %></td>
        <td><%= deposit.project_url %></td>
        <td><%= deposit.status %></td>
        <td><%= deposit.state %></td>
        <td><%= link_to 'Show', deposit %></td>
        <td><%= link_to 'Edit', edit_deposit_path(deposit) %></td>
        <td><%= link_to 'Destroy', deposit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deposit', new_deposit_path %>
