%p#notice= notice
%h1 Deposits
- if current_user
  Welcome #{current_user.uid.split('@').first}!
  = button_to 'Sign Out', signout_path, method: 'delete'
- else
  = button_to 'Login', '/auth/developer'
%table.table.table-striped#deposits
  %thead
    %tr
      %th Email
      %th Title
      %th Author
      %th Creation date
      %th Project url
      %th Status
      %th State
      %th{:colspan => "3"}
  %tbody
    - @deposits.each do |deposit|
      %tr
        %td= deposit.email
        %td= deposit.title
        %td= deposit.author
        %td= deposit.creation_date
        %td= deposit.project_url
        %td= deposit.status
        %td= deposit.state
        %td= link_to 'Show', deposit
        %td= link_to 'Edit', edit_deposit_path(deposit)
        %td= link_to 'Destroy', deposit, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Deposit', new_deposit_path

:javascript
  $(function() {
    $('.deposits').DataTable({
      // ajax: ...,
      // autoWidth: false,
      // pagingType: 'full_numbers',
      // processing: true,
      // serverSide: true,

      // Optional, if you want full pagination controls.
      // Check dataTables documentation to learn more about available options.
      // http://datatables.net/reference/option/pagingType
    });
  })