%h1 Deposits
%p
  = link_to 'Sync Deposits', '/sync', class: 'btn btn-warning'

.row
  .col-sm-12
    %h2 Deposits Awaiting Approval
    %ul.deposit-list
      - @deposits.each do |deposit|
        %li.deposit-item
          .deposit-description
            .deposit-title
              = link_to deposit.title, deposit
            .deposit-info
              %span.author
                = deposit.creator.map{|str| str}.join(', ')
              %span.publisher-date
                %span.date
                  = "(#{deposit.created.strftime('%F')})"
            .deposit-abstract
              = deposit.abstract[0]
